*{
    margin: 0;
    padding: 0;
}


body{
    background-image: url(./skyscraper-gefa6587e7_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Courier New', Courier, monospace;
box-sizing: border-box;
   
}
#h22{
    font-size: 30px;
    text-align: center;
    padding: 10% auto;
    margin:0%;



}
#l1{
    font-size: 40px;
    background-color: rgb(65, 62, 60);
    box-shadow: rgba(0, 0, 0, 0.5);
    margin: 10%;
    
    border-color: aqua;

}
button{
    font-size: 20px;
    background: green;
    color: aliceblue;
    box-shadow: inset rgba(0, 0, 0, 0.5);
    text-decoration: none;
    border-radius: 20px;

}
#h22{
    color: black;
    margin-top: 1%;
}
.menu{
    background-color: aquamarine;
    text-align: center;    
}
.menu ul{
display: inline-flex;
list-style: none;
color: black;

}
.menu ul  li{
    width: 120px;
margin: 15px;
    padding: 15px;

}
.con{
    width: fit-content;
    margin: 150px auto;
}
.btn{
    width: 200px;
    height: 40px;

    color: white;
    background: #000;
    font-size:20px;
    text-decoration: none;
    margin: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.btn1 span{
    margin-left: 10px;
    width: 0;
    overflow: hidden;
    transition: 0.5s;
    
}
.btn1:hover span{
    width: 30px;


}
nav{

    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #1b1b1b;
    width: 400px;
    line-height: 40px;
    padding: 8px 25px;
}
nav label{
    color: white;
    font-size: 22px;
    font-weight: 500;
    display: block;
    cursor: pointer;

}
.button span{
  float: right;
  line-height: 35px;
  

}
nav ul{
    position: absolute;
    background: #1b1b1b;
    list-style: none;
    top: 70%;
    width: 100%;
    left: 0;
    border-radius: 5px;
    display: block;


}
nav  ul li{
 line-height: 40px;
 padding: 8px 20px;
 cursor: pointer;
 border-bottom: 1px solid red;

}
#e1{
    color: aliceblue;
}
#w1{
    padding: 20%;
    margin: 0% 20%;
    margin-left: 0%;
    padding-left: 0%;
}